@font-face {
    font-family: 'TheJamsil1Thin';
    src: url('../fonts/The_Jamsil_OTF/The\ Jamsil\ OTF\ 1\ Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil2Light';
    src: url('../fonts/The_Jamsil_OTF/The\ Jamsil\ OTF\ 2\ Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil3Regular';
    src: url('../fonts/The_Jamsil_OTF/The\ Jamsil\ OTF\ 3\ Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil4Medium';
    src: url('../fonts/The_Jamsil_OTF/The\ Jamsil\ OTF\ 4\ Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('../fonts/The_Jamsil_OTF/The\ Jamsil\ OTF\ 5\ Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil6ExtraBold';
    src: url('../fonts/The_Jamsil_OTF/The\ Jamsil\ OTF\ 6\ ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}